header, main, footer {
    background-color: greenyellow;
}   

img {
    /* Prevent images from spilling outside of the parent. */
    max-width: 100%;
    height: auto;
}


/* GENERAL CHILD SELECTOR: Select any/all descendents that are 'div' */
header div {
    align-items: center;

    /* for spacing, use rems. */
    gap: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

h1{
    /* for font-sizes use ems*/
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    
}



nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    background-color: goldenrod;
    padding: 1rem;
}

nav a:hover {
    background-color: darkgoldenrod;
}

main {
    margin: 1rem 0;
    padding: 1rem;
    
    column-gap: 1.5rem;

}

main section {
    background-color: aqua;
    padding: 0 1rem;
}

main section:first-child {
    min-width: 60%;
}

/*transistioning for a pic to fade out/in*/
/*position lock pic in place*/

main section:first-child img {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 250px;
    transition:  opacity 0.5s ease-in-out;
}
main section:first-child img:hover   {
    opacity: 0;

}
main section:first-child img:hover + p {
    opacity: 1;
}
main section:first-child p:last-child {
    opacity: 0; 
    transition: opacity 0.5s dease-in-out;
    transition-delay: 0.2s;
    z-index: 1;

}
main section:first-child .flex {
    width: 250px;
    height: 250px;
}
main section:last-child {  
    display: grid;

    
    grid-template-areas: 
    "header header"
    "img-1 img-2"
    "img-3 img-4";
}

main section:last-child h2 {
    grid-area: header;
}

main section:last-child img:first-child{
    grid-area: img-1;
}

main section:last-child img:nth-child(2) {
    grid-area: img-2;
}

main section:last-child img:nth-child(3) {
    grid-area: img-3;
}

main section:last-child img:last-child {
    grid-area: img-4;
}

footer {
    padding: 1rem 0.5rem;
}

/* Simplify the CSS by using these utility classes. */

.absolute {
    position: absolute;
}
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.fle--items-center{
    align-items: center;
}
.flex--content-center {    
    justify-content: center;
}
.relative {
    position: relative;
}